body {
    text-align :centerï¼›
    background-image: url(234.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.red {
    color:red;
}
.qudiaoxiahuaxian {
    text-decoration: none;
    color: black;
}
.bule {
    color: indigo;
}
